body {
    margin: 0px;
}

.topnav {
    background-color: #0F4C75;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #BBE1FA;
    color: rgb(27, 38, 44);
  } */

#logo {
    width: 45px;
    height: 45px;
    padding: 0px;
    display: flex;
    margin: 0%;
    padding-left: 10px;
}

#companyName {
    color: whitesmoke;
    font-weight: bold;
    padding: 0px;
    display: flex;
    width: 100%;
    margin-left: 10px;
}

#login-pic {
    /* float: right; */
    width: 45px;
    height: 45px;
    cursor:pointer;
    padding-right: 10px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    display: flex;
    margin: auto;
    white-space: nowrap;
    /* width: max-content; */
    /* width: 100%; */
}

/* img {
    height: auto; 
    max-width: 100%;
    object-fit: fill;
} */

/*For the main container pic*/
.mainPic{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("/heap_frontend/img/mainMoney2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
    padding: 0%;
    margin: 0%;
    display: flex;
} 

.learnScams p {
    margin-left: 30%;
    margin-top: 40%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black;
    color: white;
    opacity: 1;
    font-size: 40px;
    white-space: nowrap;
}

#signupBtn{
    /* margin-left: 30%; */
    margin-top: 3%;
    font-size: large;
    width:130px;
    height:40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #0F4C75;
    color:white;
}

#signupBtn:hover {
    background-color: white;
    color:black;
}

/* Vision & mission */
.row {
    display: flex;
  }

.column {
    flex: 80%;
    padding: 5px;
}

div.polaroid {
    width: 98%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
  
  div.polaroid_container {
    text-align: center;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

#buildings{
    width: 100%;
}  

div.polaroid-right{
    width: 98%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 20px;
  }